@model stFacturacion.Models.Articulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Articulo</legend>

    <div class="display-label">descripcionarticulo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcionarticulo)
    </div>

    <div class="display-label">talla</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.talla.tallaId)
    </div>

    <div class="display-label">tarifa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tarifa.descripcion)
    </div>

    <div class="display-label">tipoiva</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipoiva.descripcion)
    </div>

    <div class="display-label">color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.color.descripcioncolor)
    </div>

    <div class="display-label">familia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.familia.descripcionfamilia)
    </div>

    <div class="display-label">formapago</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.formapago.descripcionformapago)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.articuloId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
