@model IEnumerable<stFacturacion.Models.Fecha>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            fecha
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fechaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.fechaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fechaId })
        </td>
    </tr>
}

</table>
