@using stFacturacion.CustomHelpers
@model stFacturacion.Models.Vendedor

@{
    ViewBag.Title = "Create";
}

<div class="alert">
<a class="close" data-dismiss="alert" href="#">×</a>
<p><strong>Atención!</strong> Estás creando un nuevo Vendedor</p>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create","Vendedor",FormMethod.Post,new { @class = "form-horizontal" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Vendedor</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
          </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.direccion, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.direccion)
            @Html.ValidationMessageFor(model => model.direccion)
          </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.cp, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.cp)
            @Html.ValidationMessageFor(model => model.cp)
          </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ciudad, new { @class = "control-label" })
         <div class="controls">
            @Html.EditorFor(model => model.ciudad)
            @Html.ValidationMessageFor(model => model.ciudad)
         </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.pais, new { @class = "control-label" })
         <div class="controls">
            @Html.EditorFor(model => model.pais)
            @Html.ValidationMessageFor(model => model.pais)
         </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.localidadId, "localidad", new { @class = "control-label" })
          <div class="controls">
            @Html.DropDownList("localidadId", String.Empty)
            @Html.ValidationMessageFor(model => model.localidadId)
          </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.tlf, new { @class = "control-label" })
         <div class="controls">
            @Html.EditorFor(model => model.tlf)
            @Html.ValidationMessageFor(model => model.tlf)
         </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.movil, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.movil)
            @Html.ValidationMessageFor(model => model.movil)
          </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.web, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.web)
            @Html.ValidationMessageFor(model => model.web)
        </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.fax, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.fax)
            @Html.ValidationMessageFor(model => model.fax)
          </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
          </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.comision, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.comision)
            @Html.ValidationMessageFor(model => model.comision)
          </div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Crear" />                
            @Html.ActionLink("Cancelar", "Index",null, new { @class = "btn" })
        </div>

        
    </fieldset>
}


